### Step 1 : Load and Explore the Data

In [1]:
#Importing Dependencies 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.tsa.arima.model import ARIMA
from sklearn.ensemble import RandomForestRegressor
from neuralprophet import NeuralProphet

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("Resources/Retail_Trade_Turnover_Au.csv", delimiter=',')

print(df.shape)
df.head(2)

Importing plotly failed. Interactive plots will not work.
Importing plotly failed. Interactive plots will not work.

(509, 22)

,year,Original_Food retailing,Original_ Household goods retailing,"Original_Clothing, footwear and personal accessory retailing",Original_Department stores,Original_ Other retailing,"Original_Cafes, restaurants and takeaway food services",Original_Total (Industry),Seasonally_Food retailing,Seasonally_Household goods retailing,...,Seasonally_Other retailing,"Seasonally_Cafes, restaurants and takeaway food services",Seasonally_Total (Industry),Turnover ; Total (State) ; Food retailing ;,Trend_Household goods retailing,"Trend_Clothing, footwear and personal accessory retailing",Trend_Department stores,Trend_Other retailing,"Trend_Cafes, restaurants and takeaway food services",Trend_Total (Industry)
0,Apr-1982,1162.6,592.3,359.9,460.1,479.1,342.4,3396.4,1167.1,653.4,...,507.9,349.8,3518.7,1173.2,652.9,362.7,482.4,505.1,347.6,3523.4
1,May-1982,1150.9,629.6,386.6,502.6,486.1,342.1,3497.9,1178.6,648.7,...,502.3,346.3,3527.6,1181.7,654.1,362.0,484.2,504.9,346.3,3533.6

In [2]:
df.describe()

,Original_Food retailing,Original_ Household goods retailing,"Original_Clothing, footwear and personal accessory retailing",Original_Department stores,Original_ Other retailing,"Original_Cafes, restaurants and takeaway food services",Original_Total (Industry),Seasonally_Food retailing,Seasonally_Household goods retailing,"Seasonally_Clothing, footwear and personal accessory retailing",...,Seasonally_Other retailing,"Seasonally_Cafes, restaurants and takeaway food services",Seasonally_Total (Industry),Turnover ; Total (State) ; Food retailing ;,Trend_Household goods retailing,"Trend_Clothing, footwear and personal accessory retailing",Trend_Department stores,Trend_Other retailing,"Trend_Cafes, restaurants and takeaway food services",Trend_Total (Industry)
count,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000,...,509.000000,509.000000,509.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000
mean,6212.216110,2801.557760,1303.388802,1210.969352,2301.251081,2041.461690,15870.847151,6212.076031,2800.879175,1302.030648,...,2303.173084,2041.368369,15869.850295,5824.554262,2631.035135,1243.158420,1186.018919,2160.253638,1941.203119,14985.836175
std,3897.198486,1617.174775,747.188858,512.926511,1414.684819,1366.636148,9374.124847,3875.646381,1582.616489,698.352244,...,1383.770208,1362.226735,9224.237148,3627.508011,1460.387506,664.168329,382.461977,1284.199568,1325.980226,8704.647001
min,1150.900000,592.300000,298.700000,378.000000,467.500000,328.700000,3355.900000,1167.100000,648.700000,359.100000,...,502.300000,341.500000,3518.700000,1173.200000,652.900000,361.600000,482.400000,504.700000,345.400000,3523.400000
25%,2754.700000,1346.600000,703.500000,826.000000,1096.600000,929.400000,7674.200000,2754.900000,1323.900000,712.200000,...,1109.400000,906.900000,7723.900000,2706.300000,1273.500000,708.800000,869.000000,1084.000000,896.900000,7613.000000
50%,5311.800000,2665.200000,1166.300000,1187.500000,2044.000000,1661.200000,14055.900000,5309.300000,2678.200000,1185.000000,...,2030.100000,1659.900000,14092.600000,4979.300000,2510.200000,1107.700000,1193.400000,1918.500000,1483.900000,13190.400000
75%,9345.900000,3920.700000,1697.100000,1464.900000,3240.500000,3065.100000,22853.700000,9418.800000,3822.800000,1743.700000,...,3260.500000,3073.300000,23092.100000,8609.200000,3638.600000,1644.800000,1527.200000,3091.100000,2843.200000,21329.100000
max,16634.000000,7442.100000,4490.600000,3189.000000,6951.000000,5837.400000,44158.600000,14530.700000,6258.900000,3084.100000,...,5753.000000,5437.200000,36474.700000,14504.800000,6041.200000,3008.400000,1907.100000,5735.200000,5407.900000,36376.400000

In [5]:
#Checking Null Values
df.isnull().sum()

year                                                               0
Original_Food retailing                                            0
Original_ Household goods retailing                                0
Original_Clothing, footwear and personal accessory retailing       0
Original_Department stores                                         0
Original_ Other retailing                                          0
Original_Cafes, restaurants and takeaway food services             0
Original_Total (Industry)                                          0
Seasonally_Food retailing                                          0
Seasonally_Household goods retailing                               0
Seasonally_Clothing, footwear and personal accessory retailing     0
Seasonally_Department stores                                       0
Seasonally_Other retailing                                         0
Seasonally_Cafes, restaurants and takeaway food services           0
Seasonally_Total (Industry)                                        0
Turnover ;  Total (State) ;  Food retailing ;                     28
Trend_Household goods retailing                                   28
Trend_Clothing, footwear and personal accessory retailing         28
Trend_Department stores                                           28
Trend_Other retailing                                             28
Trend_Cafes, restaurants and takeaway food services               28
Trend_Total (Industry)                                            28
dtype: int64

Trend_ categories has 28 missing values so instead of deleting the records , creating a seperate DataFrame for Trend_ categories

In [6]:
df.columns

Index(['year', 'Original_Food retailing',
       'Original_ Household goods retailing',
       'Original_Clothing, footwear and personal accessory retailing',
       'Original_Department stores', 'Original_ Other retailing',
       'Original_Cafes, restaurants and takeaway food services',
       'Original_Total (Industry)', 'Seasonally_Food retailing',
       'Seasonally_Household goods retailing',
       'Seasonally_Clothing, footwear and personal accessory retailing',
       'Seasonally_Department stores', 'Seasonally_Other retailing',
       'Seasonally_Cafes, restaurants and takeaway food services',
       'Seasonally_Total (Industry)',
       'Turnover ;  Total (State) ;  Food retailing ;',
       'Trend_Household goods retailing',
       'Trend_Clothing, footwear and personal accessory retailing',
       'Trend_Department stores', 'Trend_Other retailing',
       'Trend_Cafes, restaurants and takeaway food services',
       'Trend_Total (Industry)'],
      dtype='object')

In [7]:
trend_df=df[['year','Turnover ;  Total (State) ;  Food retailing ;',
       'Trend_Household goods retailing',
       'Trend_Clothing, footwear and personal accessory retailing',
       'Trend_Department stores', 'Trend_Other retailing',
       'Trend_Cafes, restaurants and takeaway food services',
       'Trend_Total (Industry)']]
trend_df.head(2)

,year,Turnover ; Total (State) ; Food retailing ;,Trend_Household goods retailing,"Trend_Clothing, footwear and personal accessory retailing",Trend_Department stores,Trend_Other retailing,"Trend_Cafes, restaurants and takeaway food services",Trend_Total (Industry)
0,Apr-1982,1173.2,652.9,362.7,482.4,505.1,347.6,3523.4
1,May-1982,1181.7,654.1,362.0,484.2,504.9,346.3,3533.6

In [8]:
trend_df.rename(columns={'Turnover ;  Total (State) ;  Food retailing ;':'Trend_Food retailing'}).head(2)

,year,Trend_Food retailing,Trend_Household goods retailing,"Trend_Clothing, footwear and personal accessory retailing",Trend_Department stores,Trend_Other retailing,"Trend_Cafes, restaurants and takeaway food services",Trend_Total (Industry)
0,Apr-1982,1173.2,652.9,362.7,482.4,505.1,347.6,3523.4
1,May-1982,1181.7,654.1,362.0,484.2,504.9,346.3,3533.6

In [9]:
df = df[['year', 'Original_Food retailing',
       'Original_ Household goods retailing',
       'Original_Clothing, footwear and personal accessory retailing',
       'Original_Department stores', 'Original_ Other retailing',
       'Original_Cafes, restaurants and takeaway food services',
       'Original_Total (Industry)', 'Seasonally_Food retailing',
       'Seasonally_Household goods retailing',
       'Seasonally_Clothing, footwear and personal accessory retailing',
       'Seasonally_Department stores', 'Seasonally_Other retailing',
       'Seasonally_Cafes, restaurants and takeaway food services',
       'Seasonally_Total (Industry)']]

# Strip whitespace from column names
df=df.rename(columns={
       'Original_Food retailing':'Original_Food_retailing',
       'Original_ Household goods retailing':'Original_Household_goods_retailing',
       'Original_Clothing, footwear and personal accessory retailing':'Original_Clothing_footwear__personal_accessory_retailing',
       'Original_Department stores':'Original_Department_stores', 
    'Original_ Other retailing':'Original_Other_retailing',
       'Original_Cafes, restaurants and takeaway food services':'Original_Cafes_restaurants_takeaway_food_services',
       'Original_Total (Industry)':'Original_Total_Industry', 
       'Seasonally_Food retailing':'Seasonally_Food_retailing',
       'Seasonally_Household goods retailing':'Seasonally_Household_goods_retailing',
       'Seasonally_Clothing, footwear and personal accessory retailing':'Seasonally_Clothing_footwear_personal_accessory_retailing',
       'Seasonally_Department stores':'Seasonally_Department_stores',
    'Seasonally_Other retailing':'Seasonally_Other_retailing',
       'Seasonally_Cafes, restaurants and takeaway food services':'Seasonally_Cafes_restaurants_takeaway_food_services',
       'Seasonally_Total (Industry)': 'Seasonally_Total_Industry'})

print(df.columns)
df.head(2)

Index(['year', 'Original_Food_retailing', 'Original_Household_goods_retailing',
       'Original_Clothing_footwear__personal_accessory_retailing',
       'Original_Department_stores', 'Original_Other_retailing',
       'Original_Cafes_restaurants_takeaway_food_services',
       'Original_Total_Industry', 'Seasonally_Food_retailing',
       'Seasonally_Household_goods_retailing',
       'Seasonally_Clothing_footwear_personal_accessory_retailing',
       'Seasonally_Department_stores', 'Seasonally_Other_retailing',
       'Seasonally_Cafes_restaurants_takeaway_food_services',
       'Seasonally_Total_Industry'],
      dtype='object')

,year,Original_Food_retailing,Original_Household_goods_retailing,Original_Clothing_footwear__personal_accessory_retailing,Original_Department_stores,Original_Other_retailing,Original_Cafes_restaurants_takeaway_food_services,Original_Total_Industry,Seasonally_Food_retailing,Seasonally_Household_goods_retailing,Seasonally_Clothing_footwear_personal_accessory_retailing,Seasonally_Department_stores,Seasonally_Other_retailing,Seasonally_Cafes_restaurants_takeaway_food_services,Seasonally_Total_Industry
0,Apr-1982,1162.6,592.3,359.9,460.1,479.1,342.4,3396.4,1167.1,653.4,360.7,479.7,507.9,349.8,3518.7
1,May-1982,1150.9,629.6,386.6,502.6,486.1,342.1,3497.9,1178.6,648.7,362.6,489.2,502.3,346.3,3527.6

In [10]:
df.isnull().sum()

year                                                         0
Original_Food_retailing                                      0
Original_Household_goods_retailing                           0
Original_Clothing_footwear__personal_accessory_retailing     0
Original_Department_stores                                   0
Original_Other_retailing                                     0
Original_Cafes_restaurants_takeaway_food_services            0
Original_Total_Industry                                      0
Seasonally_Food_retailing                                    0
Seasonally_Household_goods_retailing                         0
Seasonally_Clothing_footwear_personal_accessory_retailing    0
Seasonally_Department_stores                                 0
Seasonally_Other_retailing                                   0
Seasonally_Cafes_restaurants_takeaway_food_services          0
Seasonally_Total_Industry                                    0
dtype: int64

**Our Data is clean and ready to process for Machine Learning Models**